<h1>Congratulations on the new addition to the family!</h1>

<form action="/babies" method="POST">
	<p>Baby Name: <input type="text" name="name"></p>
	<p>Birthday: <input type="date" name="birthday"></p>
	<input type="submit" name="submit">
</form>