<h1>Enter Nap</h1>

<form action="/naps" method="POST">
	<p>Start Time: <input type="datetime-local" name="start_time"></p>
	<p>End Time: <input type="datetime-local" name="end_time"></p>
	<p>Notes: <input type="text" name="notes"></p>
	<input type="submit" name="submit">
</form>