<h1>Enter a New Nap</h1>
<br>

<form action="/naps" method="POST">
	<p>Enter a new nap for: <input type="text" name="baby_name" value="<%= @baby.name.capitalize %>"></p>
	<p>Start Time: <input type="datetime-local" name="start_time"></p>
	<p>End Time: <input type="datetime-local" name="end_time"></p>
	<p>Notes: <input type="text" name="notes"></p>
	<input type="submit">
</form>