<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to the Newborn Nap Tracker!</h2>

    <div class="content">
      <p>The Newborn Nap Tracker is an application for new parents to keep track of their child's sleep patterns and schedule.</p>
      <p>You will also be able to make notes about how your newborn was acting before putting him to sleep, observations about his/her behavior and better understand their sleep windows so as to avoid a meltdown of an overtired child.</p>
      <p><a href="/signup">Signup</a></p>
      <p><a href="/login">Login</a></p>
    </div>



  </div>
</div>
